<!DOCTYPE html>
<html>
  <head>
    <title>API Documentation</title>

    <%= stylesheet_pack_tag 'swagger' %>
  </head>
  <body>
    <div id="swagger-ui"></div>
    <%= javascript_pack_tag 'swagger' %>
  </body>
</html>
